openapi: 3.0.0

info:
  title: OpNet RPC API
  description: This document is the official API documentation of OpNet JSON-RPC.
  version: 1.0.0
  pointerResolutionBasePath: '/'
  swagger: 2.0
  basePath: '/'
tags:
  - name: 'Websocket'
    description: 'OpNet websocket configuration related endpoints.'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
servers:
  - url: https://regtest.opnet.org
    description: OpNet Regtest
  - url: https://fractal.opnet.org
    description: Fractal Testnet
  - url: https://testnet.opnet.org
    description: OpNet Testnet
  - url: https://api.opnet.org
    description: OpNet Mainnet
  - url: http://localhost:9001
    description: Sandbox server
